## Merge datasets related to crime, subway and camera location in Mexico City

Since more datasets have been found, then they should be merged in a single dataframe after some cleaning and transformation steps. Since there is information available about the different subway lines in Mexico City, the location of the subway stations, and the location of security cameras according to the city program *Mi calle*, the intention of this notebook is to join that information with the reported crimes using the neighborhood and/or district information.

First, we import the required libraries and get the reported crimes dataset

In [94]:
import pandas as pd
import zipfile
import numpy as np
import matplotlib.pyplot as plt

#Path
#Insert your local repo path to file 
repo_path = "INSERT YOUR LOCAL SDC-SECURITY REPO PATH HERE"

In [95]:
csv_path = "\datasets\da_victimas_completa_marzo_2023.zip"

zf = zipfile.ZipFile(repo_path+csv_path) 
crimes = pd.read_csv(zf.open('da_victimas_completa_marzo_2023.csv'))
crimes.head()

,idCarpeta,Año_inicio,Mes_inicio,FechaInicio,Delito,Categoria,Sexo,Edad,TipoPersona,CalidadJuridica,...,Mes_hecho,FechaHecho,HoraHecho,HoraInicio,alcaldia_hechos,municipio_hechos,colonia_datos,fgj_colonia_registro,latitud,longitud
0,8324429.0,2019,Enero,2019-01-04,FRAUDE,DELITO DE BAJO IMPACTO,Masculino,62.0,FISICA,OFENDIDO,...,Agosto,2018-08-29,12:00:00,12:19:00,ALVARO OBREGON,NaN,GUADALUPE INN,GUADALUPE INN,19.36125,-99.18314
1,8324430.0,2019,Enero,2019-01-04,"PRODUCCIÓN, IMPRESIÓN, ENAJENACIÓN, DISTRIBUCI...",DELITO DE BAJO IMPACTO,Femenino,38.0,FISICA,VICTIMA Y DENUNCIANTE,...,Diciembre,2018-12-15,15:00:00,12:20:00,AZCAPOTZALCO,NaN,VICTORIA DE LAS DEMOCRACIAS,VICTORIA DE LAS DEMOCRACIAS,19.47181,-99.16458
2,8324431.0,2019,Enero,2019-01-04,ROBO A TRANSEUNTE SALIENDO DEL BANCO CON VIOLE...,ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON ...,Masculino,42.0,FISICA,VICTIMA Y DENUNCIANTE,...,Diciembre,2018-12-22,15:30:00,12:23:00,COYOACAN,NaN,COPILCO EL BAJO,COPILCO UNIVERSIDAD ISSSTE,19.33797,-99.18611
3,8324435.0,2019,Enero,2019-01-04,ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,Masculino,35.0,FISICA,VICTIMA Y DENUNCIANTE,...,Enero,2019-01-04,06:00:00,12:27:00,IZTACALCO,NaN,PANTITLAN V,AGRÍCOLA PANTITLAN,19.40327,-99.05983
4,8324438.0,2019,Enero,2019-01-04,ROBO DE MOTOCICLETA SIN VIOLENCIA,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,Masculino,NaN,FISICA,VICTIMA,...,Enero,2019-01-03,20:00:00,12:35:00,IZTAPALAPA,NaN,LAS AMERICAS (U HAB),PROGRESISTA,19.35480,-99.06324

## Transforming the crime dataset

In [8]:
#Change column names to lowercase
crimes.rename(columns = lambda x : x.lower() , inplace = True)

In [18]:
crimes.head()

,idcarpeta,año_inicio,mes_inicio,fechainicio,delito,categoria,sexo,edad,tipopersona,calidadjuridica,...,mes_hecho,fechahecho,horahecho,horainicio,alcaldia_hechos,municipio_hechos,colonia_datos,fgj_colonia_registro,latitud,longitud
0,8324429,2019,Enero,2019-01-04,FRAUDE,DELITO DE BAJO IMPACTO,Masculino,62.0,FISICA,OFENDIDO,...,Agosto,2018-08-29,12:00:00,12:19:00,ALVARO OBREGON,NaN,GUADALUPE INN,GUADALUPE INN,19.36125,-99.18314
1,8324430,2019,Enero,2019-01-04,"PRODUCCIÓN, IMPRESIÓN, ENAJENACIÓN, DISTRIBUCI...",DELITO DE BAJO IMPACTO,Femenino,38.0,FISICA,VICTIMA Y DENUNCIANTE,...,Diciembre,2018-12-15,15:00:00,12:20:00,AZCAPOTZALCO,NaN,VICTORIA DE LAS DEMOCRACIAS,VICTORIA DE LAS DEMOCRACIAS,19.47181,-99.16458
2,8324431,2019,Enero,2019-01-04,ROBO A TRANSEUNTE SALIENDO DEL BANCO CON VIOLE...,ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON ...,Masculino,42.0,FISICA,VICTIMA Y DENUNCIANTE,...,Diciembre,2018-12-22,15:30:00,12:23:00,COYOACAN,NaN,COPILCO EL BAJO,COPILCO UNIVERSIDAD ISSSTE,19.33797,-99.18611
3,8324435,2019,Enero,2019-01-04,ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,Masculino,35.0,FISICA,VICTIMA Y DENUNCIANTE,...,Enero,2019-01-04,06:00:00,12:27:00,IZTACALCO,NaN,PANTITLAN V,AGRÍCOLA PANTITLAN,19.40327,-99.05983
4,8324438,2019,Enero,2019-01-04,ROBO DE MOTOCICLETA SIN VIOLENCIA,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,Masculino,NaN,FISICA,VICTIMA,...,Enero,2019-01-03,20:00:00,12:35:00,IZTAPALAPA,NaN,LAS AMERICAS (U HAB),PROGRESISTA,19.35480,-99.06324

### Handling null values

There are a lot of columns with null values. Since crimes dataset already has more than 1M records, erasing the records that contain null values could help to have a lighter, more accurate datasetet

In [47]:
null_counts = crimes.isnull().sum()
print(null_counts)

idcarpeta                     0
año_inicio                    0
mes_inicio                    0
fechainicio                   0
delito                        0
categoria                     0
sexo                     190025
edad                     366188
tipopersona                6645
calidadjuridica               1
competencia                   0
año_hecho                   377
mes_hecho                   377
fechahecho                  377
horahecho                   368
horainicio                    1
alcaldia_hechos               0
municipio_hechos        1028246
colonia_datos             73721
fgj_colonia_registro      50410
latitud                   50202
longitud                  50204
dtype: int64

Almost every value in column *municipio_hechos* is null, so this column will be dropped. After that, every row containing null values will be deleted.

In [64]:
del crimes['municipio_hechos']

In [77]:
crimes_no_null = crimes.dropna().copy()

print('Original crime dataset shape is: {}'.format(crimes.shape))
print('The shape of the new crime dataset without null values is: {}'.format(crimes_no_null.shape))

Original crime dataset shape is: (1038430, 21)
The shape of the new crime dataset without null values is: (627976, 21)

A new dataset with more than 600k rows and no null values is generated. Then, some minor changes in the column names will be made.

In [78]:
crimes_no_null.columns = crimes_no_null.columns.str.replace('ñ', 'ni')
crimes_no_null.head()

,idcarpeta,anio_inicio,mes_inicio,fechainicio,delito,categoria,sexo,edad,tipopersona,calidadjuridica,...,anio_hecho,mes_hecho,fechahecho,horahecho,horainicio,alcaldia_hechos,colonia_datos,fgj_colonia_registro,latitud,longitud
0,8324429,2019,Enero,2019-01-04,FRAUDE,DELITO DE BAJO IMPACTO,Masculino,62.0,FISICA,OFENDIDO,...,2018.0,Agosto,2018-08-29,12:00:00,12:19:00,ALVARO OBREGON,GUADALUPE INN,GUADALUPE INN,19.36125,-99.18314
1,8324430,2019,Enero,2019-01-04,"PRODUCCIÓN, IMPRESIÓN, ENAJENACIÓN, DISTRIBUCI...",DELITO DE BAJO IMPACTO,Femenino,38.0,FISICA,VICTIMA Y DENUNCIANTE,...,2018.0,Diciembre,2018-12-15,15:00:00,12:20:00,AZCAPOTZALCO,VICTORIA DE LAS DEMOCRACIAS,VICTORIA DE LAS DEMOCRACIAS,19.47181,-99.16458
2,8324431,2019,Enero,2019-01-04,ROBO A TRANSEUNTE SALIENDO DEL BANCO CON VIOLE...,ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON ...,Masculino,42.0,FISICA,VICTIMA Y DENUNCIANTE,...,2018.0,Diciembre,2018-12-22,15:30:00,12:23:00,COYOACAN,COPILCO EL BAJO,COPILCO UNIVERSIDAD ISSSTE,19.33797,-99.18611
3,8324435,2019,Enero,2019-01-04,ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,Masculino,35.0,FISICA,VICTIMA Y DENUNCIANTE,...,2019.0,Enero,2019-01-04,06:00:00,12:27:00,IZTACALCO,PANTITLAN V,AGRÍCOLA PANTITLAN,19.40327,-99.05983
5,8324442,2019,Enero,2019-01-04,"PRODUCCIÓN, IMPRESIÓN, ENAJENACIÓN, DISTRIBUCI...",DELITO DE BAJO IMPACTO,Femenino,42.0,FISICA,OFENDIDO,...,2018.0,Octubre,2018-10-12,18:00:00,12:38:00,COYOACAN,LOS REYES (PBLO),PUEBLO DE LOS REYES,19.33537,-99.16016

Rounding numeric values

In [81]:
crimes_no_null["idcarpeta"] = crimes_no_null["idcarpeta"].round().astype(int)
crimes_no_null["edad"] = crimes_no_null["edad"].round().astype(int)
crimes_no_null["anio_hecho"] = crimes_no_null["anio_hecho"].round().astype(int)
crimes_no_null["idcarpeta"] = crimes_no_null["idcarpeta"].round().astype(int)

Converting month names to numeric values

In [85]:
month_name_to_number = {
    'enero': 1,
    'febrero': 2,
    'marzo': 3,
    'abril': 4,
    'mayo': 5,
    'junio': 6,
    'julio': 7,
    'agosto': 8,
    'septiembre': 9,
    'octubre': 10,
    'noviembre': 11,
    'diciembre': 12
}

crimes_no_null["mes_inicio"] = crimes_no_null["mes_inicio"].str.lower().map(month_name_to_number) 
crimes_no_null["mes_hecho"] = crimes_no_null["mes_hecho"].str.lower().map(month_name_to_number)

In [89]:
crimes_no_null.head()

,idcarpeta,anio_inicio,mes_inicio,fechainicio,delito,categoria,sexo,edad,tipopersona,calidadjuridica,...,anio_hecho,mes_hecho,fechahecho,horahecho,horainicio,alcaldia_hechos,colonia_datos,fgj_colonia_registro,latitud,longitud
0,8324429,2019,1,2019-01-04,FRAUDE,DELITO DE BAJO IMPACTO,Masculino,62,FISICA,OFENDIDO,...,2018,8,2018-08-29,12:00:00,12:19:00,ALVARO OBREGON,GUADALUPE INN,GUADALUPE INN,19.36125,-99.18314
1,8324430,2019,1,2019-01-04,"PRODUCCIÓN, IMPRESIÓN, ENAJENACIÓN, DISTRIBUCI...",DELITO DE BAJO IMPACTO,Femenino,38,FISICA,VICTIMA Y DENUNCIANTE,...,2018,12,2018-12-15,15:00:00,12:20:00,AZCAPOTZALCO,VICTORIA DE LAS DEMOCRACIAS,VICTORIA DE LAS DEMOCRACIAS,19.47181,-99.16458
2,8324431,2019,1,2019-01-04,ROBO A TRANSEUNTE SALIENDO DEL BANCO CON VIOLE...,ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON ...,Masculino,42,FISICA,VICTIMA Y DENUNCIANTE,...,2018,12,2018-12-22,15:30:00,12:23:00,COYOACAN,COPILCO EL BAJO,COPILCO UNIVERSIDAD ISSSTE,19.33797,-99.18611
3,8324435,2019,1,2019-01-04,ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,Masculino,35,FISICA,VICTIMA Y DENUNCIANTE,...,2019,1,2019-01-04,06:00:00,12:27:00,IZTACALCO,PANTITLAN V,AGRÍCOLA PANTITLAN,19.40327,-99.05983
5,8324442,2019,1,2019-01-04,"PRODUCCIÓN, IMPRESIÓN, ENAJENACIÓN, DISTRIBUCI...",DELITO DE BAJO IMPACTO,Femenino,42,FISICA,OFENDIDO,...,2018,10,2018-10-12,18:00:00,12:38:00,COYOACAN,LOS REYES (PBLO),PUEBLO DE LOS REYES,19.33537,-99.16016

In [83]:
crimes_no_null[crimes_no_null["colonia_datos"] != crimes_no_null["fgj_colonia_registro"]].shape

(486658, 23)

The upper line demonstrates that there are a lot of records where *colonia_datos* and *fgj_colonia_registro* do not match with each other. The reason of difference between these columns should be searched.

## Getting the new datasets

In [98]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/96.5 kB ? eta -:--:--
     ------------ ------------------------- 30.7/96.5 kB 325.1 kB/s eta 0:00:01
     ------------------------ ------------- 61.4/96.5 kB 465.5 kB/s eta 0:00:01
     -------------------------------------- 96.5/96.5 kB 549.6 kB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [121]:
# Insert the path of the dataset in your local machine
metro_stations_path = "\datasets\metro\metro_cdmx_estaciones.xls"

stations_raw = pd.read_excel(repo_path+metro_stations_path)
stations_raw.head()

,FID,geometry,SISTEMA,NOMBRE,LINEA,EST,CVE_EST,CVE_EOD17,TIPO,ALCALDIAS,A_O
0,cdmx_estaciones_metro.1,POINT (-99.07473572701159 19.416334085596525),STC Metro,Pantitlán,01,1,STC0101,5014,Terminal / Transbordo,Venustiano Carranza,1984
1,cdmx_estaciones_metro.2,POINT (-99.0822888117768 19.41192045593743),STC Metro,Zaragoza,01,2,STC0102,5020,Intermedia,Venustiano Carranza,1969
2,cdmx_estaciones_metro.3,POINT (-99.09021039171121 19.416478456907367),STC Metro,Gomez Farías,01,3,STC0103,5007,Intermedia,Venustiano Carranza,1969
3,cdmx_estaciones_metro.4,POINT (-99.09625873241016 19.419941964850207),STC Metro,Boulevard Puerto Aéreo,01,4,STC0104,5003,Intermedia,Venustiano Carranza,1969
4,cdmx_estaciones_metro.5,POINT (-99.10277436397425 19.42335533557525),STC Metro,Balbuena,01,5,STC0105,5001,Intermedia,Venustiano Carranza,1969

## Transforming the new dataset

In [122]:
stations_raw.rename(columns = lambda x : x.lower() , inplace = True)
stations_raw.rename(columns = {"a_o":"year", "fid":"id"} , inplace = True)

del stations_raw['sistema']
stations_raw.head()

,id,geometry,nombre,linea,est,cve_est,cve_eod17,tipo,alcaldias,year
0,cdmx_estaciones_metro.1,POINT (-99.07473572701159 19.416334085596525),Pantitlán,01,1,STC0101,5014,Terminal / Transbordo,Venustiano Carranza,1984
1,cdmx_estaciones_metro.2,POINT (-99.0822888117768 19.41192045593743),Zaragoza,01,2,STC0102,5020,Intermedia,Venustiano Carranza,1969
2,cdmx_estaciones_metro.3,POINT (-99.09021039171121 19.416478456907367),Gomez Farías,01,3,STC0103,5007,Intermedia,Venustiano Carranza,1969
3,cdmx_estaciones_metro.4,POINT (-99.09625873241016 19.419941964850207),Boulevard Puerto Aéreo,01,4,STC0104,5003,Intermedia,Venustiano Carranza,1969
4,cdmx_estaciones_metro.5,POINT (-99.10277436397425 19.42335533557525),Balbuena,01,5,STC0105,5001,Intermedia,Venustiano Carranza,1969

There is a column called *geometry* that contains, in string format, longitude and latitude. The numeric values from this string will be extracted and stored in two new columns

In [123]:

# Regular expression pattern to extract numeric values
pattern = r"\((-?\d+\.\d+) (-?\d+\.\d+)\)"

import re

def extract_coordinates(point_str):
    matches = re.findall(pattern, point_str)
    if matches:
        return pd.Series(matches[0], index=['station_longitude', 'station_latitude'])
    return pd.Series([None, None], index=['station_longitude', 'station_latitude'])

stations_raw[['station_longitude', 'station_latitude']] = stations_raw['geometry'].apply(extract_coordinates)

The columns *geometry* and *cve_est* will be dropped because they are redundant . *id* column will be converted to a numeric value

In [126]:
del stations_raw['geometry']
del stations_raw['cve_est']

KeyError: 'geometry'

In [128]:
stations_raw['id'] = stations_raw.id.str.replace('cdmx_estaciones_metro.', '')
stations_raw['id'] = pd.to_numeric(stations_raw['id'])

C:\Users\Marco .LAPTOP-8I11FSGG\AppData\Local\Temp\ipykernel_25524\2612753036.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  stations_raw['id'] = stations_raw.id.str.replace('cdmx_estaciones_metro.', '')

In [130]:
stations_raw.head(30)

,id,nombre,linea,est,cve_eod17,tipo,alcaldias,year,station_longitude,station_latitude
0,1,Pantitlán,01,1,5014,Terminal / Transbordo,Venustiano Carranza,1984,-99.07473572701159,19.416334085596525
1,2,Zaragoza,01,2,5020,Intermedia,Venustiano Carranza,1969,-99.0822888117768,19.41192045593743
2,3,Gomez Farías,01,3,5007,Intermedia,Venustiano Carranza,1969,-99.09021039171121,19.416478456907367
3,4,Boulevard Puerto Aéreo,01,4,5003,Intermedia,Venustiano Carranza,1969,-99.09625873241016,19.419941964850207
4,5,Balbuena,01,5,5001,Intermedia,Venustiano Carranza,1969,-99.10277436397425,19.42335533557525
5,6,Moctezuma,01,6,5012,Intermedia,Venustiano Carranza,1969,-99.10979926910476,19.42685434666967
6,7,San Lázaro,01,7,5017,Transbordo,Venustiano Carranza,1969,-99.11426095239393,19.43005884961391
7,8,Candelaria,01,8,5004,Transbordo,Venustiano Carranza,1969,-99.12090955005588,19.42954014071058
8,9,Merced,01,9,5011,Intermedia,Venustiano Carranza,1969,-99.12502541851761,19.42548757157406
9,10,Pino Suárez,01,10,5015,Transbordo,Cuauhtémoc,1969,-99.13263861199377,19.425923495107927
10,11,Isabel La Católica,01,11,5009,Intermedia,Cuauhtémoc,1969,-99.13783045646255,19.42639351179822
11,12,Salto del Agua,01,12,5016,Transbordo,Cuauhtémoc,1969,-99.14340629386963,19.426948189741864
12,13,Balderas,01,13,5002,Transbordo,Cuauhtémoc,1969,-99.14948115142849,19.426997876088905
13,14,Cuauhtémoc,01,14,5006,Intermedia,Cuauhtémoc,1969,-99.15459795134981,19.4256611110838
14,15,Insurgentes,01,15,5008,Intermedia,Cuauhtémoc,1969,-99.16328887947714,19.423651800607303
15,16,Sevilla,01,16,5018,Intermedia,Cuauhtémoc,1969,-99.17111907391485,19.421849915921573
16,17,Chapultepec,01,17,5005,Intermedia,Cuauhtémoc / Miguel Hidalgo,1969,-99.17641673157046,19.42074629504737
17,18,Juanacatlán,01,18,5010,Intermedia,Miguel Hidalgo,1970,-99.18198382947882,19.4129516424911
18,19,Tacubaya,01,19,5019,Transbordo,Miguel Hidalgo,1970,-99.18763652631694,19.40251380233993
19,20,Observatorio,01,20,5013,Terminal,Álvaro Obregón,1972,-99.20040474604608,19.398282375699324
20,21,Cuatro Caminos,02,1,5045,Terminal,Estado de México - Naucalpan de Juárez,1984,-99.21584248969683,19.459593208492073
21,22,Panteones,02,2,5052,Intermedia,Miguel Hidalgo,1984,-99.20294912952721,19.458638560770133
22,23,Tacuba,02,3,5059,Transbordo,Miguel Hidalgo,1970,-99.18823093441412,19.459376010718714
23,24,Cuitláhuac,02,4,5046,Intermedia,Miguel Hidalgo,1970,-99.18149576791224,19.457253889739235
24,25,Popotla,02,5,5054,Intermedia,Miguel Hidalgo,1970,-99.17549381434115,19.452909219801555
25,26,Colegio Militar,02,6,5044,Intermedia,Miguel Hidalgo,1970,-99.17177923331683,19.449273554997184
26,27,Normal,02,7,5051,Intermedia,Miguel Hidalgo,1970,-99.16727403741045,19.44455770552456
27,28,San Cosme,02,8,5058,Intermedia,Cuauhtémoc,1970,-99.16066207280677,19.441904254426483
28,29,Revolución,02,9,5056,Intermedia,Cuauhtémoc,1970,-99.15422782571336,19.439227179139703
29,30,Hidalgo,02,10,5049,Transbordo,Cuauhtémoc,1970,-99.14722340551585,19.43754674790357