## Merge datasets related to crime, subway and camera location in Mexico City

Since more datasets have been found, then they should be merged in a single dataframe after some cleaning and transformation steps. Since there is information available about the different subway lines in Mexico City, the location of the subway stations, and the location of security cameras according to the city program *Mi calle*, the intention of this notebook is to join that information with the reported crimes using the neighborhood and/or district information.

First, we import the required libraries and get the reported crimes dataset

In [63]:
import pandas as pd
import zipfile
import numpy as np
import matplotlib.pyplot as plt

#Path
#Insert your local repo path to file 
repo_path = "INSERT YOUR LOCAL SDC-SECURITY REPO PATH HERE"
repo_path = "D:\Archivos\Social Data Challenge\sdc-security"

In [64]:
crime_data_path = "\datasets\da_victimas_completa_marzo_2023.zip"

zf = zipfile.ZipFile(repo_path+crime_data_path) 
crimes_raw = pd.read_csv(zf.open('da_victimas_completa_marzo_2023.csv'))
crimes_raw.head()

,idCarpeta,Año_inicio,Mes_inicio,FechaInicio,Delito,Categoria,Sexo,Edad,TipoPersona,CalidadJuridica,...,Mes_hecho,FechaHecho,HoraHecho,HoraInicio,alcaldia_hechos,municipio_hechos,colonia_datos,fgj_colonia_registro,latitud,longitud
0,8324429.0,2019,Enero,2019-01-04,FRAUDE,DELITO DE BAJO IMPACTO,Masculino,62.0,FISICA,OFENDIDO,...,Agosto,2018-08-29,12:00:00,12:19:00,ALVARO OBREGON,NaN,GUADALUPE INN,GUADALUPE INN,19.36125,-99.18314
1,8324430.0,2019,Enero,2019-01-04,"PRODUCCIÓN, IMPRESIÓN, ENAJENACIÓN, DISTRIBUCI...",DELITO DE BAJO IMPACTO,Femenino,38.0,FISICA,VICTIMA Y DENUNCIANTE,...,Diciembre,2018-12-15,15:00:00,12:20:00,AZCAPOTZALCO,NaN,VICTORIA DE LAS DEMOCRACIAS,VICTORIA DE LAS DEMOCRACIAS,19.47181,-99.16458
2,8324431.0,2019,Enero,2019-01-04,ROBO A TRANSEUNTE SALIENDO DEL BANCO CON VIOLE...,ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON ...,Masculino,42.0,FISICA,VICTIMA Y DENUNCIANTE,...,Diciembre,2018-12-22,15:30:00,12:23:00,COYOACAN,NaN,COPILCO EL BAJO,COPILCO UNIVERSIDAD ISSSTE,19.33797,-99.18611
3,8324435.0,2019,Enero,2019-01-04,ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,Masculino,35.0,FISICA,VICTIMA Y DENUNCIANTE,...,Enero,2019-01-04,06:00:00,12:27:00,IZTACALCO,NaN,PANTITLAN V,AGRÍCOLA PANTITLAN,19.40327,-99.05983
4,8324438.0,2019,Enero,2019-01-04,ROBO DE MOTOCICLETA SIN VIOLENCIA,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,Masculino,NaN,FISICA,VICTIMA,...,Enero,2019-01-03,20:00:00,12:35:00,IZTAPALAPA,NaN,LAS AMERICAS (U HAB),PROGRESISTA,19.35480,-99.06324

## Transforming the crime dataset

In [65]:
#Change column names
crimes_raw.rename(columns = lambda x : x.lower() , inplace = True)
crimes_raw.columns = crimes_raw.columns.str.replace('ñ', 'ni')
crimes_raw.rename(columns = {"latitud":"lat_crimen", "longitud":"long_crimen"} , inplace = True)

crimes_raw.head()

,idcarpeta,anio_inicio,mes_inicio,fechainicio,delito,categoria,sexo,edad,tipopersona,calidadjuridica,...,mes_hecho,fechahecho,horahecho,horainicio,alcaldia_hechos,municipio_hechos,colonia_datos,fgj_colonia_registro,lat_crimen,long_crimen
0,8324429.0,2019,Enero,2019-01-04,FRAUDE,DELITO DE BAJO IMPACTO,Masculino,62.0,FISICA,OFENDIDO,...,Agosto,2018-08-29,12:00:00,12:19:00,ALVARO OBREGON,NaN,GUADALUPE INN,GUADALUPE INN,19.36125,-99.18314
1,8324430.0,2019,Enero,2019-01-04,"PRODUCCIÓN, IMPRESIÓN, ENAJENACIÓN, DISTRIBUCI...",DELITO DE BAJO IMPACTO,Femenino,38.0,FISICA,VICTIMA Y DENUNCIANTE,...,Diciembre,2018-12-15,15:00:00,12:20:00,AZCAPOTZALCO,NaN,VICTORIA DE LAS DEMOCRACIAS,VICTORIA DE LAS DEMOCRACIAS,19.47181,-99.16458
2,8324431.0,2019,Enero,2019-01-04,ROBO A TRANSEUNTE SALIENDO DEL BANCO CON VIOLE...,ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON ...,Masculino,42.0,FISICA,VICTIMA Y DENUNCIANTE,...,Diciembre,2018-12-22,15:30:00,12:23:00,COYOACAN,NaN,COPILCO EL BAJO,COPILCO UNIVERSIDAD ISSSTE,19.33797,-99.18611
3,8324435.0,2019,Enero,2019-01-04,ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,Masculino,35.0,FISICA,VICTIMA Y DENUNCIANTE,...,Enero,2019-01-04,06:00:00,12:27:00,IZTACALCO,NaN,PANTITLAN V,AGRÍCOLA PANTITLAN,19.40327,-99.05983
4,8324438.0,2019,Enero,2019-01-04,ROBO DE MOTOCICLETA SIN VIOLENCIA,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,Masculino,NaN,FISICA,VICTIMA,...,Enero,2019-01-03,20:00:00,12:35:00,IZTAPALAPA,NaN,LAS AMERICAS (U HAB),PROGRESISTA,19.35480,-99.06324

### Handling null values

There are a lot of columns with null values. Since crimes dataset already has more than 1M records, erasing the records that contain null values could help to have a lighter, more accurate dataset

In [66]:
null_counts = crimes_raw.isnull().sum()
print(null_counts)

idcarpeta                     0
anio_inicio                   0
mes_inicio                    0
fechainicio                   0
delito                        0
categoria                     0
sexo                     190025
edad                     366188
tipopersona                6645
calidadjuridica               1
competencia                   0
anio_hecho                  377
mes_hecho                   377
fechahecho                  377
horahecho                   368
horainicio                    1
alcaldia_hechos               0
municipio_hechos        1028246
colonia_datos             73721
fgj_colonia_registro      50410
lat_crimen                50202
long_crimen               50204
dtype: int64

Almost every value in column *municipio_hechos* is null, so this column will be dropped. After that, every row containing null values will be deleted. An exception is done for column *edad*, so that most of the rows are kept.

In [67]:
del crimes_raw['municipio_hechos']

In [68]:
columns_to_dropna = crimes_raw.columns.drop('edad')
#crimes = crimes_raw.dropna().copy()
crimes = crimes_raw.dropna(subset = columns_to_dropna).copy()

print('Original crime dataset shape is: {}'.format(crimes_raw.shape))
print('The shape of the new crime dataset without null values is: {}'.format(crimes.shape))

crimes.head()

Original crime dataset shape is: (1038430, 21)
The shape of the new crime dataset without null values is: (784813, 21)

,idcarpeta,anio_inicio,mes_inicio,fechainicio,delito,categoria,sexo,edad,tipopersona,calidadjuridica,...,anio_hecho,mes_hecho,fechahecho,horahecho,horainicio,alcaldia_hechos,colonia_datos,fgj_colonia_registro,lat_crimen,long_crimen
0,8324429.0,2019,Enero,2019-01-04,FRAUDE,DELITO DE BAJO IMPACTO,Masculino,62.0,FISICA,OFENDIDO,...,2018.0,Agosto,2018-08-29,12:00:00,12:19:00,ALVARO OBREGON,GUADALUPE INN,GUADALUPE INN,19.36125,-99.18314
1,8324430.0,2019,Enero,2019-01-04,"PRODUCCIÓN, IMPRESIÓN, ENAJENACIÓN, DISTRIBUCI...",DELITO DE BAJO IMPACTO,Femenino,38.0,FISICA,VICTIMA Y DENUNCIANTE,...,2018.0,Diciembre,2018-12-15,15:00:00,12:20:00,AZCAPOTZALCO,VICTORIA DE LAS DEMOCRACIAS,VICTORIA DE LAS DEMOCRACIAS,19.47181,-99.16458
2,8324431.0,2019,Enero,2019-01-04,ROBO A TRANSEUNTE SALIENDO DEL BANCO CON VIOLE...,ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON ...,Masculino,42.0,FISICA,VICTIMA Y DENUNCIANTE,...,2018.0,Diciembre,2018-12-22,15:30:00,12:23:00,COYOACAN,COPILCO EL BAJO,COPILCO UNIVERSIDAD ISSSTE,19.33797,-99.18611
3,8324435.0,2019,Enero,2019-01-04,ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,Masculino,35.0,FISICA,VICTIMA Y DENUNCIANTE,...,2019.0,Enero,2019-01-04,06:00:00,12:27:00,IZTACALCO,PANTITLAN V,AGRÍCOLA PANTITLAN,19.40327,-99.05983
4,8324438.0,2019,Enero,2019-01-04,ROBO DE MOTOCICLETA SIN VIOLENCIA,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,Masculino,NaN,FISICA,VICTIMA,...,2019.0,Enero,2019-01-03,20:00:00,12:35:00,IZTAPALAPA,LAS AMERICAS (U HAB),PROGRESISTA,19.35480,-99.06324

The next step is to round the numeric values to avoid unnecessary decimals.

In [69]:
crimes["idcarpeta"]  = crimes["idcarpeta"].round().astype(int)
crimes["anio_hecho"] = crimes["anio_hecho"].round().astype(int)
crimes["idcarpeta"]  = crimes["idcarpeta"].round().astype(int)

average              = crimes['edad'].mean()
crimes["edad"]       = crimes["edad"].fillna(average)
crimes["edad"]       = crimes["edad"].round().astype(int)

Converting month names to numeric values

In [70]:
month_name_to_number = {
    'enero': 1,
    'febrero': 2,
    'marzo': 3,
    'abril': 4,
    'mayo': 5,
    'junio': 6,
    'julio': 7,
    'agosto': 8,
    'septiembre': 9,
    'octubre': 10,
    'noviembre': 11,
    'diciembre': 12
}

crimes["mes_inicio"] = crimes["mes_inicio"].str.lower().map(month_name_to_number) 
crimes["mes_hecho"] = crimes["mes_hecho"].str.lower().map(month_name_to_number) 

crimes.head()

,idcarpeta,anio_inicio,mes_inicio,fechainicio,delito,categoria,sexo,edad,tipopersona,calidadjuridica,...,anio_hecho,mes_hecho,fechahecho,horahecho,horainicio,alcaldia_hechos,colonia_datos,fgj_colonia_registro,lat_crimen,long_crimen
0,8324429,2019,1,2019-01-04,FRAUDE,DELITO DE BAJO IMPACTO,Masculino,62,FISICA,OFENDIDO,...,2018,8,2018-08-29,12:00:00,12:19:00,ALVARO OBREGON,GUADALUPE INN,GUADALUPE INN,19.36125,-99.18314
1,8324430,2019,1,2019-01-04,"PRODUCCIÓN, IMPRESIÓN, ENAJENACIÓN, DISTRIBUCI...",DELITO DE BAJO IMPACTO,Femenino,38,FISICA,VICTIMA Y DENUNCIANTE,...,2018,12,2018-12-15,15:00:00,12:20:00,AZCAPOTZALCO,VICTORIA DE LAS DEMOCRACIAS,VICTORIA DE LAS DEMOCRACIAS,19.47181,-99.16458
2,8324431,2019,1,2019-01-04,ROBO A TRANSEUNTE SALIENDO DEL BANCO CON VIOLE...,ROBO A CUENTAHABIENTE SALIENDO DEL CAJERO CON ...,Masculino,42,FISICA,VICTIMA Y DENUNCIANTE,...,2018,12,2018-12-22,15:30:00,12:23:00,COYOACAN,COPILCO EL BAJO,COPILCO UNIVERSIDAD ISSSTE,19.33797,-99.18611
3,8324435,2019,1,2019-01-04,ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,Masculino,35,FISICA,VICTIMA Y DENUNCIANTE,...,2019,1,2019-01-04,06:00:00,12:27:00,IZTACALCO,PANTITLAN V,AGRÍCOLA PANTITLAN,19.40327,-99.05983
4,8324438,2019,1,2019-01-04,ROBO DE MOTOCICLETA SIN VIOLENCIA,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,Masculino,39,FISICA,VICTIMA,...,2019,1,2019-01-03,20:00:00,12:35:00,IZTAPALAPA,LAS AMERICAS (U HAB),PROGRESISTA,19.35480,-99.06324

In [71]:
crimes[crimes["colonia_datos"] != crimes["fgj_colonia_registro"]].shape

(610309, 21)

The upper line demonstrates that there are a lot of records where *colonia_datos* and *fgj_colonia_registro* do not match with each other. The reason of difference between these columns should be searched.

## Getting the new datasets

In [72]:
!pip install xlrd

Requirement already satisfied: xlrd in d:\programas\jupyterlab-desktop\jlab_server\lib\site-packages (2.0.1)

In [73]:
# Insert the path of the dataset in your local machine
metro_stations_path = "\datasets\metro\metro_cdmx_estaciones.xls"
cams_path = "\datasets\mi-calle_camaras\programa-mi-calle-shapes.zip"

stations_raw = pd.read_excel(repo_path+metro_stations_path)

zf = zipfile.ZipFile(repo_path+cams_path) 
cams_raw = pd.read_csv(zf.open('programa-mi-calle-shapes.csv'))

In [74]:
stations_raw.head()

,FID,geometry,SISTEMA,NOMBRE,LINEA,EST,CVE_EST,CVE_EOD17,TIPO,ALCALDIAS,A_O
0,cdmx_estaciones_metro.1,POINT (-99.07473572701159 19.416334085596525),STC Metro,Pantitlán,01,1,STC0101,5014,Terminal / Transbordo,Venustiano Carranza,1984
1,cdmx_estaciones_metro.2,POINT (-99.0822888117768 19.41192045593743),STC Metro,Zaragoza,01,2,STC0102,5020,Intermedia,Venustiano Carranza,1969
2,cdmx_estaciones_metro.3,POINT (-99.09021039171121 19.416478456907367),STC Metro,Gomez Farías,01,3,STC0103,5007,Intermedia,Venustiano Carranza,1969
3,cdmx_estaciones_metro.4,POINT (-99.09625873241016 19.419941964850207),STC Metro,Boulevard Puerto Aéreo,01,4,STC0104,5003,Intermedia,Venustiano Carranza,1969
4,cdmx_estaciones_metro.5,POINT (-99.10277436397425 19.42335533557525),STC Metro,Balbuena,01,5,STC0105,5001,Intermedia,Venustiano Carranza,1969

In [75]:
cams_raw.head()

,id,alcaldia,colonia,barrioproy,crucesproy,senderopro,unidadproy,totalproye,barrioisnt,crucesisnt,senderoisn,unidadisnt,totalinsta,avance,prioritari,geo_shape,geo_point_2d
0,0,IZTACALCO,DE SANTA CRUZ,2,0,2,0,4,2,0,2,0,4,100,No,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1183...","19.3882552948,-99.1202643652"
1,1,IZTACALCO,EL MOSCO CHINAMPA,1,0,0,0,1,1,0,0,0,1,100,No,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1006...","19.3887000042,-99.1020342766"
2,2,IZTACALCO,LOS PICOS DE IZTACALCO II A,2,0,0,0,2,2,0,0,0,2,100,No,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1050...","19.3884203799,-99.1065451021"
3,3,IZTACALCO,SANTIAGO SUR,3,1,3,1,8,3,1,3,1,8,100,No,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1218...","19.3887099506,-99.1252431061"
4,4,IZTACALCO,TLAZINTLA,2,1,0,0,3,2,1,0,0,3,100,Si,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1100...","19.3964289682,-99.1118026548"

## Transforming the new datasets
### Metro stations dataset

The *Sistema* column has the same value in all rows, so it will be deleted. Also, some column names are going to be changed:

In [76]:
stations_raw.rename(columns = lambda x : x.lower() , inplace = True)
stations_raw.rename(columns = {"a_o":"year", "fid":"id"} , inplace = True)

del stations_raw['sistema']

There is a column called *geometry* that contains, in string format, longitude and latitude. The numeric values from this string will be extracted and stored in two new columns

In [77]:

# Regular expression pattern to extract numeric values
pattern = r"\((-?\d+\.\d+) (-?\d+\.\d+)\)"

import re

def extract_coordinates(point_str):
    matches = re.findall(pattern, point_str)
    if matches:
        return pd.Series(matches[0], index=['station_longitude', 'station_latitude'])
    return pd.Series([None, None], index=['station_longitude', 'station_latitude'])

stations_raw[['station_longitude', 'station_latitude']] = stations_raw['geometry'].apply(extract_coordinates)

The columns *geometry* and *cve_est* will be dropped because they are redundant . *id* column will be converted to a numeric value

In [78]:
del stations_raw['geometry']
del stations_raw['cve_est']

The categorical values in column id will be replaced by a numeric value by erasing everything but the number inside the column

In [79]:
stations_raw['id'] = stations_raw.id.str.replace('cdmx_estaciones_metro.', '')
stations_raw['id'] = pd.to_numeric(stations_raw['id'])

C:\Users\Marco .LAPTOP-8I11FSGG\AppData\Local\Temp\ipykernel_21172\2612753036.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  stations_raw['id'] = stations_raw.id.str.replace('cdmx_estaciones_metro.', '')

In [80]:
stations_raw.head()

,id,nombre,linea,est,cve_eod17,tipo,alcaldias,year,station_longitude,station_latitude
0,1,Pantitlán,01,1,5014,Terminal / Transbordo,Venustiano Carranza,1984,-99.07473572701159,19.416334085596525
1,2,Zaragoza,01,2,5020,Intermedia,Venustiano Carranza,1969,-99.0822888117768,19.41192045593743
2,3,Gomez Farías,01,3,5007,Intermedia,Venustiano Carranza,1969,-99.09021039171121,19.416478456907367
3,4,Boulevard Puerto Aéreo,01,4,5003,Intermedia,Venustiano Carranza,1969,-99.09625873241016,19.419941964850207
4,5,Balbuena,01,5,5001,Intermedia,Venustiano Carranza,1969,-99.10277436397425,19.42335533557525

In [81]:
null_counts = stations_raw.isnull().sum()
print(null_counts)

id                   0
nombre               0
linea                0
est                  0
cve_eod17            0
tipo                 0
alcaldias            0
year                 0
station_longitude    0
station_latitude     0
dtype: int64

No null values are present on this dataset, so there won't be any deleted rows.

In [82]:
stations = stations_raw.copy()

### Cams dataset

In [83]:
cams_raw.head()

,id,alcaldia,colonia,barrioproy,crucesproy,senderopro,unidadproy,totalproye,barrioisnt,crucesisnt,senderoisn,unidadisnt,totalinsta,avance,prioritari,geo_shape,geo_point_2d
0,0,IZTACALCO,DE SANTA CRUZ,2,0,2,0,4,2,0,2,0,4,100,No,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1183...","19.3882552948,-99.1202643652"
1,1,IZTACALCO,EL MOSCO CHINAMPA,1,0,0,0,1,1,0,0,0,1,100,No,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1006...","19.3887000042,-99.1020342766"
2,2,IZTACALCO,LOS PICOS DE IZTACALCO II A,2,0,0,0,2,2,0,0,0,2,100,No,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1050...","19.3884203799,-99.1065451021"
3,3,IZTACALCO,SANTIAGO SUR,3,1,3,1,8,3,1,3,1,8,100,No,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1218...","19.3887099506,-99.1252431061"
4,4,IZTACALCO,TLAZINTLA,2,1,0,0,3,2,1,0,0,3,100,Si,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1100...","19.3964289682,-99.1118026548"

The cams dataset contains a column with the centroid of the *colonia* or neighborhood. The numeric values will be extracted and saved in two new columns. Also, the values from the categorical variable *prioritari* will be replaced by 1 or 0.

In [84]:
cams_raw[['lat_centroid', 'long_centroid']] = cams_raw['geo_point_2d'].str.split(',', expand=True)
cams_raw['lat_centroid'] = pd.to_numeric(cams_raw['lat_centroid'])
cams_raw['long_centroid'] = pd.to_numeric(cams_raw['long_centroid'])

del cams_raw['geo_point_2d']

cams_raw['prioritari'] = cams_raw['prioritari'].replace({'Si': 1, 'No': 0})

In [85]:
null_counts = cams_raw.isnull().sum()
print(null_counts)

id                0
alcaldia          0
colonia           0
barrioproy        0
crucesproy        0
senderopro        0
unidadproy        0
totalproye        0
barrioisnt        0
crucesisnt        0
senderoisn        0
unidadisnt        0
totalinsta        0
avance            0
prioritari        0
geo_shape        17
lat_centroid     17
long_centroid    17
dtype: int64

There are only 17 null values in the neighborhood location data. Those rows will be kept for now. However, the number of features for this dataset will be reduced, so that it simply keeps the total number of cameras by neighborhood and the neighborhood location info.

In [86]:
cams = cams_raw.loc[:,['id','alcaldia','colonia','totalinsta','prioritari','geo_shape','long_centroid','lat_centroid']]
cams.head()

,id,alcaldia,colonia,totalinsta,prioritari,geo_shape,long_centroid,lat_centroid
0,0,IZTACALCO,DE SANTA CRUZ,4,0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1183...",-99.120264,19.388255
1,1,IZTACALCO,EL MOSCO CHINAMPA,1,0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1006...",-99.102034,19.388700
2,2,IZTACALCO,LOS PICOS DE IZTACALCO II A,2,0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1050...",-99.106545,19.388420
3,3,IZTACALCO,SANTIAGO SUR,8,0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1218...",-99.125243,19.388710
4,4,IZTACALCO,TLAZINTLA,3,1,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1100...",-99.111803,19.396429

## Merging stage
The **DataFrame.merge** will be used to merge dataframes **crime** and **cams**. *crimes.fgj_colonia_registro* can be compared with the *cams.colonia* column, and the same can be done with *crimes.alcaldia_hechos* and *cams.alcaldia*. Some columns will be dropped or their order will be changed.

In [87]:
merged_df = crimes.merge(cams, left_on=['alcaldia_hechos','fgj_colonia_registro'], right_on=['alcaldia','colonia'])

keep_this_columns = ['idcarpeta', 'delito', 'categoria', 'alcaldia', 'colonia', 'sexo', 'edad', 'tipopersona', 'calidadjuridica',
                     'anio_inicio', 'mes_inicio', 'fechainicio','horainicio', 'competencia',
                    'anio_hecho', 'mes_hecho', 'fechahecho', 'horahecho',
                    'lat_crimen', 'long_crimen','lat_centroid','long_centroid','totalinsta','prioritari','geo_shape']
consolidated = merged_df [keep_this_columns]
consolidated.head()

,idcarpeta,delito,categoria,alcaldia,colonia,sexo,edad,tipopersona,calidadjuridica,anio_inicio,...,mes_hecho,fechahecho,horahecho,lat_crimen,long_crimen,lat_centroid,long_centroid,totalinsta,prioritari,geo_shape
0,8324429,FRAUDE,DELITO DE BAJO IMPACTO,ALVARO OBREGON,GUADALUPE INN,Masculino,62,FISICA,OFENDIDO,2019,...,8,2018-08-29,12:00:00,19.36125,-99.18314,19.357275,-99.187114,9,0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1826..."
1,8325972,ROBO A NEGOCIO CON VIOLENCIA,ROBO A NEGOCIO CON VIOLENCIA,ALVARO OBREGON,GUADALUPE INN,Masculino,26,FISICA,VICTIMA Y DENUNCIANTE,2019,...,1,2019-01-05,18:00:00,19.36157,-99.18556,19.357275,-99.187114,9,0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1826..."
2,8330740,ROBO DE ACCESORIOS DE AUTO,DELITO DE BAJO IMPACTO,ALVARO OBREGON,GUADALUPE INN,Masculino,26,FISICA,VICTIMA Y DENUNCIANTE,2019,...,1,2018-01-12,14:30:00,19.35574,-99.18916,19.357275,-99.187114,9,0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1826..."
3,8448568,ROBO DE VEHICULO DE SERVICIO PARTICULAR CON VI...,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,ALVARO OBREGON,GUADALUPE INN,Masculino,62,FISICA,VICTIMA Y DENUNCIANTE,2019,...,6,2019-06-10,18:10:00,19.35431,-99.19001,19.357275,-99.187114,9,0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1826..."
4,8449807,USURPACIÓN DE IDENTIDAD,DELITO DE BAJO IMPACTO,ALVARO OBREGON,GUADALUPE INN,Femenino,31,FISICA,VICTIMA Y DENUNCIANTE,2019,...,11,2018-11-09,12:00:00,19.36179,-99.18621,19.357275,-99.187114,9,0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1826..."

## Relation with *stations* dataframe

Something  more complex should be done in order to relate the new consolidated dataframe with the *stations* dataset. The way to do this is to calculate the distance between the crime locations and the nearest metro station. The latitude and longitude of the 195 stations and the crime locations are already available. So using something called **harvesine_distance** will help with the calculation

In [88]:
import math

def haversine_distance(lat1, lon1, lat2, lon2):
    # Earth's radius in kilometers
    earth_radius = 6371.0

    # Convert latitude and longitude from degrees to radians
    lat1_rad = math.radians(lat1)
    lon1_rad = math.radians(lon1)
    lat2_rad = math.radians(lat2)
    lon2_rad = math.radians(lon2)

    # Calculate differences in latitude and longitude
    d_lat = lat2_rad - lat1_rad
    d_lon = lon2_rad - lon1_rad

    # Haversine formula
    a = math.sin(d_lat / 2) ** 2 + math.cos(lat1_rad) * math.cos(lat2_rad) * math.sin(d_lon / 2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    # Calculate the distance
    distance = earth_radius * c
    return distance

In [108]:
def find_nearest_location(ref_lat, ref_lon, locations):
    nearest_distance = float('inf')
    nearest_location = None

    for lat, lon in locations:
        lat = float(lat)
        lon = float(lon)
        distance = haversine_distance(ref_lat, ref_lon, lat, lon)
        if distance < nearest_distance:
            nearest_distance = distance
            nearest_location = (lat, lon)

    return nearest_location, nearest_distance

In [90]:
stations.head()

,id,nombre,linea,est,cve_eod17,tipo,alcaldias,year,station_longitude,station_latitude
0,1,Pantitlán,01,1,5014,Terminal / Transbordo,Venustiano Carranza,1984,-99.07473572701159,19.416334085596525
1,2,Zaragoza,01,2,5020,Intermedia,Venustiano Carranza,1969,-99.0822888117768,19.41192045593743
2,3,Gomez Farías,01,3,5007,Intermedia,Venustiano Carranza,1969,-99.09021039171121,19.416478456907367
3,4,Boulevard Puerto Aéreo,01,4,5003,Intermedia,Venustiano Carranza,1969,-99.09625873241016,19.419941964850207
4,5,Balbuena,01,5,5001,Intermedia,Venustiano Carranza,1969,-99.10277436397425,19.42335533557525

In [101]:
type(stations["station_latitude"][0])

str

In [ ]:
consolidated["nearest_distance"] = consolidated.apply(lambda row: haversine_distance(row[])

In [99]:
stations[['station_latitude', 'station_longitude']].values

array([['19.416334085596525', '-99.07473572701159'],
       ['19.41192045593743', '-99.0822888117768'],
       ['19.416478456907367', '-99.09021039171121'],
       ['19.419941964850207', '-99.09625873241016'],
       ['19.42335533557525', '-99.10277436397425'],
       ['19.42685434666967', '-99.10979926910476'],
       ['19.43005884961391', '-99.11426095239393'],
       ['19.42954014071058', '-99.12090955005588'],
       ['19.42548757157406', '-99.12502541851761'],
       ['19.425923495107927', '-99.13263861199377'],
       ['19.42639351179822', '-99.13783045646255'],
       ['19.426948189741864', '-99.14340629386963'],
       ['19.426997876088905', '-99.14948115142849'],
       ['19.4256611110838', '-99.15459795134981'],
       ['19.423651800607303', '-99.16328887947714'],
       ['19.421849915921573', '-99.17111907391485'],
       ['19.42074629504737', '-99.17641673157046'],
       ['19.4129516424911', '-99.18198382947882'],
       ['19.40251380233993', '-99.18763652631694'],
       ['19.398282375699324', '-99.20040474604608'],
       ['19.459593208492073', '-99.21584248969683'],
       ['19.458638560770133', '-99.20294912952721'],
       ['19.459376010718714', '-99.18823093441412'],
       ['19.457253889739235', '-99.18149576791224'],
       ['19.452909219801555', '-99.17549381434115'],
       ['19.449273554997184', '-99.17177923331683'],
       ['19.44455770552456', '-99.16727403741045'],
       ['19.441904254426483', '-99.16066207280677'],
       ['19.439227179139703', '-99.15422782571336'],
       ['19.43754674790357', '-99.14722340551585'],
       ['19.436377755896043', '-99.14161363737124'],
       ['19.43555800327121', '-99.13686784023699'],
       ['19.432501910975944', '-99.13225107327767'],
       ['19.42438471172242', '-99.13294182670589'],
       ['19.41602164706914', '-99.13453987415669'],
       ['19.40917986927759', '-99.1356181172527'],
       ['19.400868658018997', '-99.13689959248839'],
       ['19.395210509950374', '-99.13780817932107'],
       ['19.38758177582601', '-99.13895916622117'],
       ['19.37953276091363', '-99.14018788970765'],
       ['19.36992483866799', '-99.14157355491439'],
       ['19.361979299764318', '-99.14290376152475'],
       ['19.353235914861184', '-99.14500636295455'],
       ['19.343757098277724', '-99.13953277638426'],
       ['19.495337618645664', '-99.11950993825916'],
       ['19.485114151342465', '-99.12549791712465'],
       ['19.47719201148074', '-99.13201368299404'],
       ['19.468880133789003', '-99.13950623022468'],
       ['19.45505814280372', '-99.1431330841341'],
       ['19.44472633482843', '-99.14519334406981'],
       ['19.43738239226258', '-99.14678272133695'],
       ['19.43325034645042', '-99.14768330576317'],
       ['19.42648009336695', '-99.14906048003867'],
       ['19.419484310191944', '-99.15036426521944'],
       ['19.413758753579426', '-99.15324536177903'],
       ['19.40745314744384', '-99.15513468952369'],
       ['19.395920531617364', '-99.15603141534933'],
       ['19.386168518115365', '-99.15720459756614'],
       ['19.379184435402276', '-99.1594791658047'],
       ['19.371191786554387', '-99.16451029765572'],
       ['19.361359077350073', '-99.17086152734286'],
       ['19.353459024524685', '-99.17600108606379'],
       ['19.346251833085887', '-99.18075665564406'],
       ['19.33609927480332', '-99.17697359521604'],
       ['19.324353482894324', '-99.17393845558945'],
       ['19.402891572700973', '-99.12169560425865'],
       ['19.41091506041839', '-99.12174358812516'],
       ['19.421590266885172', '-99.12053345294457'],
       ['19.428764223711585', '-99.11942628579929'],
       ['19.439664164892267', '-99.11815212250657'],
       ['19.448945007975038', '-99.11613305076399'],
       ['19.45801819921654', '-99.11390384847114'],
       ['19.46463120134616', '-99.11197677850316'],
       ['19.4743583148983', '-99.10801223861532'],
       ['19.4850441446716', '-99.10436947745445'],
       ['19.50067869865116', '-99.14920599260093'],
       ['19.489339309334294', '-99.14470974913316'],
       ['19.479070895908745', '-99.14065073858234'],
       ['19.469666470585786', '-99.13651565050566'],
       ['19.463112195663303', '-99.1302395703195'],
       ['19.458872139807024', '-99.11949099066608'],
       ['19.455135874992198', '-99.11353623147821'],
       ['19.45139751377978', '-99.10529969848143'],
       ['19.451257588432135', '-99.09620515376837'],
       ['19.44502048612666', '-99.08687292405605'],
       ['19.434265101782927', '-99.08807623735903'],
       ['19.42434990786488', '-99.08813377459762'],
       ['19.41510477347348', '-99.07432880808665'],
       ['19.504630143602103', '-99.19976981622266'],
       ['19.494895164082454', '-99.19602298699967'],
       ['19.49090814292121', '-99.18626730878705'],
       ['19.490673429052162', '-99.17415168259645'],
       ['19.488671413505823', '-99.16299035407454'],
       ['19.48984778693472', '-99.15600430946392'],
       ['19.491044231378503', '-99.14812599880902'],
       ['19.488112987791897', '-99.135071417918'],
       ['19.483482017273065', '-99.12530365865987'],
       ['19.481735808267246', '-99.11836926186176'],
       ['19.482938821534876', '-99.10747531268115'],
       ['19.50473787443692', '-99.20011586528997'],
       ['19.49064014278564', '-99.19535232730325'],
       ['19.479111542683896', '-99.19003757146507'],
       ['19.46947289434234', '-99.1905055272923'],
       ['19.45823475875799', '-99.18716900417594'],
       ['19.44500753968244', '-99.19176696408843'],
       ['19.433553135623136', '-99.1909251080933'],
       ['19.42576382554425', '-99.1920289044083'],
       ['19.411770866194253', '-99.19135185542875'],
       ['19.40219021827544', '-99.18675445901168'],
       ['19.39149177284933', '-99.1858059348452'],
       ['19.38433767025257', '-99.18661355277949'],
       ['19.37625650166226', '-99.18758241553665'],
       ['19.361501563286584', '-99.18926370689458'],
       ['19.444001288500854', '-99.13900441274583'],
       ['19.43701291221674', '-99.14042072784983'],
       ['19.431580449036026', '-99.14125061054364'],
       ['19.427718297697947', '-99.14185174647427'],
       ['19.421545611577116', '-99.14318940867469'],
       ['19.413240376209362', '-99.14403796372382'],
       ['19.410207491075585', '-99.13375133526755'],
       ['19.406709434404345', '-99.1262690624544'],
       ['19.404123434315892', '-99.12065723966121'],
       ['19.398302895714913', '-99.11348043121852'],
       ['19.38828875746519', '-99.11211173088554'],
       ['19.3790998138262', '-99.10949014642031'],
       ['19.37321141061217', '-99.1077035934306'],
       ['19.3648364116397', '-99.10948498429173'],
       ['19.35608448367419', '-99.10130942995006'],
       ['19.3578249372119', '-99.09344907670477'],
       ['19.356047872500543', '-99.08561607648716'],
       ['19.351056166857287', '-99.07481741890497'],
       ['19.345968405928243', '-99.06379884994618'],
       ['19.415351168915805', '-99.07220534490074'],
       ['19.40719214298364', '-99.08238587967575'],
       ['19.408433982240478', '-99.0912519463776'],
       ['19.408539286354042', '-99.10315771222376'],
       ['19.4083714401572', '-99.11296847676732'],
       ['19.40910312787644', '-99.12234976018911'],
       ['19.40851453448194', '-99.13397299201031'],
       ['19.407218273838726', '-99.14462826288435'],
       ['19.406561353277546', '-99.15602793921477'],
       ['19.405929858827395', '-99.16851936424604'],
       ['19.40610899290181', '-99.1789225975409'],
       ['19.401460579904057', '-99.18776109100934'],
       ['19.286022277290176', '-99.0141983243777'],
       ['19.294353379107935', '-99.02403074663107'],
       ['19.296655586515058', '-99.03430689003962'],
       ['19.299957304889258', '-99.04599286885365'],
       ['19.304321996002184', '-99.05951149501792'],
       ['19.306308825509696', '-99.06527026370269'],
       ['19.317611568465104', '-99.07450575078416'],
       ['19.320471151871725', '-99.08587286436709'],
       ['19.322148856344057', '-99.09575048151491'],
       ['19.32814547952075', '-99.1045158609058'],
       ['19.336845611079582', '-99.10895874517293'],
       ['19.352754172814933', '-99.10624316535984'],
       ['19.35776253608585', '-99.1231432322264'],
       ['19.359823503023833', '-99.14163136305437'],
       ['19.361341237938568', '-99.15142336147862'],
       ['19.37065883497745', '-99.15871771897177'],
       ['19.37084530155701', '-99.165599315594'],
       ['19.37201337695184', '-99.17088446276829'],
       ['19.373553470227108', '-99.17825012925253'],
       ['19.37569882343627', '-99.18673050109385'],
       ['19.415297524541934', '-99.07192293715731'],
       ['19.404618895931353', '-99.06956646430945'],
       ['19.39876293119974', '-99.05942280066026'],
       ['19.391276494960067', '-99.04632939735716'],
       ['19.385153887463556', '-99.03565960069986'],
       ['19.373305051789014', '-99.01705483641234'],
       ['19.364717390396216', '-99.00567271685955'],
       ['19.36030504737167', '-98.99517832323626'],
       ['19.35903746198999', '-98.97686678250444'],
       ['19.350561572133337', '-98.96093725042675'],
       ['19.446185903359645', '-99.15235137742634'],
       ['19.44514483254338', '-99.14613872738674'],
       ['19.44388963210198', '-99.13786566485716'],
       ['19.443220041827658', '-99.13023042923575'],
       ['19.442789391295424', '-99.12406744029855'],
       ['19.439166627281327', '-99.11956876702453'],
       ['19.432370934586487', '-99.11296097266766'],
       ['19.43656537337327', '-99.10370874117547'],
       ['19.440835354165493', '-99.09420167473102'],
       ['19.445694826958526', '-99.08721732565787'],
       ['19.451011097259663', '-99.07933423067036'],
       ['19.458094772963857', '-99.0692886960206'],
       ['19.461670791944844', '-99.06138196686965'],
       ['19.472885633631996', '-99.05461333650334'],
       ['19.485753223001417', '-99.0489571600943'],
       ['19.490688675585073', '-99.04678664175502'],
       ['19.501490328356404', '-99.0420671972603'],
       ['19.515125082713773', '-99.0360693374375'],
       ['19.521344934228452', '-99.03334249438895'],
       ['19.528475893853724', '-99.03018454966082'],
       ['19.53451306511141', '-99.0275097173377']], dtype=object)

In [109]:
consolidated['nearest_distance'], consolidated['nearest_station'] = zip(*consolidated.apply(
    lambda row: find_nearest_location( ref_lat   = row['lat_crimen'], 
                                       ref_lon   = row['long_crimen'], 
                                       locations = stations[['station_latitude', 'station_longitude']].values
                                     ),
                axis = 1
    )
  )

C:\Users\Marco .LAPTOP-8I11FSGG\AppData\Local\Temp\ipykernel_21172\134879611.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  consolidated['nearest_distance'], consolidated['nearest_station'] = zip(*consolidated.apply(
C:\Users\Marco .LAPTOP-8I11FSGG\AppData\Local\Temp\ipykernel_21172\134879611.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  consolidated['nearest_distance'], consolidated['nearest_station'] = zip(*consolidated.apply(

In [112]:
consolidated.head()

,idcarpeta,delito,categoria,alcaldia,colonia,sexo,edad,tipopersona,calidadjuridica,anio_inicio,...,horahecho,lat_crimen,long_crimen,lat_centroid,long_centroid,totalinsta,prioritari,geo_shape,nearest_distance,nearest_station
0,8324429,FRAUDE,DELITO DE BAJO IMPACTO,ALVARO OBREGON,GUADALUPE INN,Masculino,62,FISICA,OFENDIDO,2019,...,12:00:00,19.36125,-99.18314,19.357275,-99.187114,9,0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1826...","(19.361501563286584, -99.18926370689458)",0.643025
1,8325972,ROBO A NEGOCIO CON VIOLENCIA,ROBO A NEGOCIO CON VIOLENCIA,ALVARO OBREGON,GUADALUPE INN,Masculino,26,FISICA,VICTIMA Y DENUNCIANTE,2019,...,18:00:00,19.36157,-99.18556,19.357275,-99.187114,9,0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1826...","(19.361501563286584, -99.18926370689458)",0.388617
2,8330740,ROBO DE ACCESORIOS DE AUTO,DELITO DE BAJO IMPACTO,ALVARO OBREGON,GUADALUPE INN,Masculino,26,FISICA,VICTIMA Y DENUNCIANTE,2019,...,14:30:00,19.35574,-99.18916,19.357275,-99.187114,9,0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1826...","(19.361501563286584, -99.18926370689458)",0.640749
3,8448568,ROBO DE VEHICULO DE SERVICIO PARTICULAR CON VI...,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,ALVARO OBREGON,GUADALUPE INN,Masculino,62,FISICA,VICTIMA Y DENUNCIANTE,2019,...,18:10:00,19.35431,-99.19001,19.357275,-99.187114,9,0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1826...","(19.361501563286584, -99.18926370689458)",0.803489
4,8449807,USURPACIÓN DE IDENTIDAD,DELITO DE BAJO IMPACTO,ALVARO OBREGON,GUADALUPE INN,Femenino,31,FISICA,VICTIMA Y DENUNCIANTE,2019,...,12:00:00,19.36179,-99.18621,19.357275,-99.187114,9,0,"{""type"": ""Polygon"", ""coordinates"": [[[-99.1826...","(19.361501563286584, -99.18926370689458)",0.321955

In [117]:
consolidated["nearest_distance"][0][0]

19.361501563286584

In [120]:
stations[stations["station_longitude"] == consolidated["nearest_distance"][0][0]]

Empty DataFrame
Columns: [id, nombre, linea, est, cve_eod17, tipo, alcaldias, year, station_longitude, station_latitude]
Index: []

In [119]:
test

Empty DataFrame
Columns: [id, nombre, linea, est, cve_eod17, tipo, alcaldias, year, station_longitude, station_latitude]
Index: []